* , *::after, *::before{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-height: 80vh;
    --clicker-width: 75%;
}
body {
    height: 100vh;
    width: 100vw;
}

header {
    height: calc(100% - var(--main-height));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2081C3;
}

main {
    height: var(--main-height);
    width: 100%;
   
    display: flex;
}

#clicker {
    height: 100%;
    width: var(--clicker-width);
    background-color: #63D2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#shop {
    height: 100%;
    width: calc(100% - var(--clicker-width));
    background-color: #F7F9F9;

}

#main-circle {
    height: calc(var(--main-height)* 0.5);
    width: calc(var(--main-height)* 0.5);
    border-radius: 50%;
    background-image: url('/images/cookie.jpg');
    background-position: center;
}

h1 {
    font-size: 40px;
    color: white;
}
span {
    color: black;
}

#cookie-text {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin: 25px;
    color: white;
}

#items {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 75px; 
    margin-top: 65px;
    margin-left: 20px;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    justify-items: stretch;

}

li {
    width: 100%;
}

.click-to-buy {
    height: 25px;
    color: green;
}
